<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- External stylesheet link -->
    <link href="{% static './CSS/password_change.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<!---------------------------------------------------------------------------------------------------------------------------------------->
{% block content %}

<body>
    <div class="form">
        <h1>Set a new password</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>
    </div>
</body>
{% endblock content %}

</html>