<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  {% block extrahead %}
  <!-- External stylesheet link -->
  <link href="{% static './CSS/password_change.css' %}" rel="stylesheet">
  {% endblock %}
</head>
<!---------------------------------------------------------------------------------------------------------------------------------------->
{% block content %}

<body>
  <div>
    <div class="form">
      <h1>Password Change</h1>
      <p>Please enter your old password, for security's sake and then enter your new password twice so we can verify you
        typed it in correctly.</p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
      </form>
    </div>
  </div>
</body>
{% endblock content %}

</html>