<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  {% block extrahead %}
  <!-- External stylesheet link -->
  <link href="{% static './CSS/password_change.css' %}" rel="stylesheet">
  {% endblock %}
</head>
<!---------------------------------------------------------------------------------------------------------------------------------------->
{% block content %}

<body>
  <div class="container">
    <h1 style="margin-top:150px">Password changed successfully</h1>
    <p>Your password is changed successfully.</p>
    <a href="{% url 'home' %}"><button>Homepage</button></a>
  </div>
</body>
{% endblock content %}

</html>