:root {
    --bgcolor: #1E90FF;
    --bgcolor2: rgb(0, 15, 18);
    --textcolor: white;
  }
  
body{
    background-color:var(--bgcolor2);
    color:var(--textcolor);
}

h1{
    font-weight:800;
    margin:50px 0 0 50px;
}

.form p{
    margin:20px 0 0 50px;
}

.form li{
    margin-left:50px;
}

input[type=submit], button{
    margin-left:50px;
    margin-top:20px;
    background-color:var(--bgcolor);
    color:var(--textcolor);
    border:none;
    padding:20px;
    border-radius: 4px;
    margin-bottom: 50px;
}

input[type=password]{
   width:80%;
}

label{
    display:block;
}

.container, .form{
    height:81%;
}

.container button{
    width:20%;
}