<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  {% block extrahead %}
  <!-- External stylesheet link -->
  <link href="{% static './CSS/about.css' %}" rel="stylesheet">
  {% endblock %}
</head>
{% block content %}

<body>
  <section class="intro">
    <video autoplay muted loop id="myVideo">
      <source src="{% static './media/CONFIGURE ! (1).mp4' %}" type="video/mp4">
    </video>
    <p>CONFIG is a website, designed to diffrentiate wide range of laptops available in the market based on user needs.
      CONFIG helps you to find the right laptop with the best configuration, whether it's for geeky programmers, gaming
      freaks, business professionals, creative designers, or college students.</p>
  </section>
</body>
{% endblock content %}

</html>