<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  {% block extrahead %}
  <!-- External stylesheet link -->
  <link rel="stylesheet" href="{% static './CSS/fav.css' %}">
  {% endblock %}
</head>
<!---------------------------------------------------------------------------------------------------------------------------------------->
{% block content %}

<body id="content">
  <!----------------------------------------------------------------------------------------------------------------------------------------->
  <section>
    <div class="favorites" id="favorites">
      {% if list %}
      {% for laptop in list %}
      {% if laptop.typ == "Programming" %}
      <a href="{% url 'laptopView' laptop.id %}">
        <div id="fav1" class="favourites" id="fav1">
          <img src="{{ laptop.img1.url }}" alt="none">
          <h4>{{laptop.brand}}</h4>
          <p>For {{laptop.typ}}</p>
          <p>{{laptop.model}}</p>
          <p>Rs. {{laptop.price}}</p>
          <a href="{% url 'favourites' laptop.id %}"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </a>
      {% elif laptop.typ == "Business" %}
      <a href="{% url 'laptopView' laptop.id %}">
        <div id="fav1" class="favourites" id="fav1">
          <img src="{{ laptop.img1.url }}" alt="none">
          <h4>{{laptop.brand}}</h4>
          <p>For {{laptop.typ}}</p>
          <p>{{laptop.model}}</p>
          <p>Rs. {{laptop.price}}</p>
          <a href="{% url 'favourites' laptop.id %}"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </a>
      {% elif laptop.typ == "Gaming" %}
      <a href="{% url 'laptopView' laptop.id %}">
        <div id="fav1" class="favourites" id="fav1">
          <img src="{{ laptop.img1.url }}" alt="none">
          <h4>{{laptop.brand}}</h4>
          <p>For {{laptop.typ}}</p>
          <p>{{laptop.model}}</p>
          <p>Rs. {{laptop.price}}</p>
          <a href="{% url 'favourites' laptop.id %}"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </a>
      {% elif laptop.typ == "Designing" %}
      <a href="{% url 'laptopView' laptop.id %}">
        <div id="fav1" class="favourites" id="fav1">
          <img src="{{ laptop.img1.url }}" alt="none">
          <h4>{{laptop.brand}}</h4>
          <p>For {{laptop.typ}}</p>
          <p>{{laptop.model}}</p>
          <p>Rs. {{laptop.price}}</p>
          <a href="{% url 'favourites' laptop.id %}"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </a>
      {% elif laptop.typ == "Student" %}
      <a href="{% url 'laptopView' laptop.id %}">
        <div id="fav1" class="favourites" id="fav1">
          <img src="{{ laptop.img1.url }}" alt="none">
          <h4>{{laptop.brand}}</h4>
          <p>For {{laptop.typ}}</p>
          <p>{{laptop.model}}</p>
          <p>Rs. {{laptop.price}}</p>
          <a href="{% url 'favourites' laptop.id %}"><i class="fa-solid fa-trash-can"></i></a>
        </div>
        {% endif %}
        {% endfor %}
      </a>
      {% else %}
      <p style="color:white">Your fav list is empty</p>
      {% endif %}


    </div>
  </section>
</body>
{% endblock content %}

</html>