<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  {% block extrahead %}
  <!-- External stylesheet link -->
  <link rel="stylesheet" href="{% static 'CSS\typgame.css' %}">

  <style>
    .bg-image {
      background-image: url("{% static 'media/best-hp-gaming-laptops-for-any-budget-hero1531871685786.jpg' %}");
    }
  </style>
  {% endblock %}
</head>
<!---------------------------------------------------------------------------------------------------------------------------------------->
{% block content %}

<body>
  <div class="bg-image"></div><br>
  <div class="bg-text">
    <h1>Gamer's Zone</h1><br>
    <p>
      Hunting for the best laptops for gaming can be a little overwhelming. PC hardware is constantly developing meaning
      that getting a grip on all that PC jargon can be exhausting. But we're here to help you cut through the clutter
      with a list of the ten best laptops for games on the market right now.
    </p>
    {% for i in game %}
    {% if forloop.first %}
    <a href="{% url 'gameView' i.id %}"><button type="button" class="explore"><span>Click to explore!
        </span></button></a>
    {%endif%}
    {% endfor %}
  </div>

</body>
{% endblock content %}

</html>