<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- External stylesheet link -->
    <link rel="stylesheet" href="{% static './CSS/listView.css' %}">
    {% endblock %}

</head>
<!---------------------------------------------------------------------------------------------------------------------------------------->
{% block content %}

<body id="content">
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <section>
        <div class="tooltip-fil">
            <i onclick="openfilter()" class="fas fa-filter filter">adasd</i>
            <span class="tooltiptext" id="tooltiptext">Filter</span>
        </div>
        <a href="{% url 'progView' %}" >Reset</a>
        <div id="filter" class="filter-dialog">
           
            <div class="filter-menu animate-out">
                <h1 style="text-align:center;font-weight:800;margin-bottom:20px;">FILTER BY</h1>
                <a href="javascript:void(0)" onclick="closefilter()">×</a>
                <form method="GET" action=".">
                    <div id="brand" class="sub-div">
                        <h3>Brand</h3>
                        <table>
                            <tr>
                                <td style="width:10%"><input type="checkbox" id="apple" name="apple" value="apple"></td>
                                <td><label for="apple">Apple</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="hp" name="hp" value="hp"></td>
                                <td><label for="hp">HP</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="dell" name="dell" value="dell"></td>
                                <td><label for="dell">Dell</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="asus" name="asus" value="asus"></td>
                                <td><label for="asus">Asus</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="lg" name="lg" value="lg"></td>
                                <td><label for="lg">LG</label><br></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="samsung" name="samsung" value="samsung"></td>
                                <td><label for="samsung">Samsung</label></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sub-div">
                        <h3>Price</h3>
                        <table>
                            <tr>
                                <td style="width:10%"><input type="checkbox" id="price1" name="price1" value="price1"></td>
                                <td><label for="price1">&#8377; 40,000 - &#8377; 50,000</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="price2" name="price2" value="price2"></td>
                                <td><label for="price2">&#8377; 50,000 - &#8377; 60,000</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="price3" name="price3" value="price3"></td>
                                <td><label for="price3">&#8377; 60,000 - &#8377; 70,000</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="price4" name="price4" value="price4"></td>
                                <td><label for="price4">&#8377; 70,000 - &#8377; 80,000</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="price5" name="price5" value="price5"></td>
                                <td><label for="price5">&#8377; 80,000 - &#8377; 90,000</label><br></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="price6" name="price6" value="price6"></td>
                                <td><label for="price6">Above &#8377; 90,000</label></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sub-div">
                        <h3>Processor</h3>
                        <table>
                            <tr>
                                <td style="width:10%"><input type="checkbox" id="i3" name="processor1" value="i3"></td>
                                <td><label for="i3">core i3</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="i5" name="processor2" value="i5"></td>
                                <td><label for="i5">core i5</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="i7" name="processor3" value="i7"></td>
                                <td><label for="i7">core i7</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="i9" name="processor4" value="i9"></td>
                                <td><label for="i9">core i9</label></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sub-div" style="margin-left:33px;">
                        <h3>RAM Capacity</h3>
                        <table>
                            <tr>
                                <td style="width:10%"><input type="checkbox" id="4gb" name="ram1" value="4gb"></td>
                                <td><label for="4gb">4 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="8gb" name="ram2" value="8gb"></td>
                                <td><label for="8gb">8 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="12gb" name="ram3" value="12gb"></td>
                                <td><label for="12gb">12 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="16gb" name="ram4" value="16gb"></td>
                                <td><label for="16gb">16 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="lg" name="ram5" value="32gb"></td>
                                <td><label for="32gb">32 GB</label><br></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sub-div">
                        <h3>Storage Capacity</h3>
                        <table>
                            <tr>
                                <td style="width:10%"><input type="checkbox" id="256gb" name="storage1" value="256gb"></td>
                                <td><label for="256gb">256 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="512gb" name="storage2" value="512gb"></td>
                                <td><label for="512gb">512 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="1tb" name="storage3" value="1tb"></td>
                                <td><label for="1tb">1 TB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="2tb" name="storage4" value="2tb"></td>
                                <td><label for="2tb">2 TB</label></td>
                            </tr>

                        </table>
                    </div>
                    <div class="sub-div">
                        <h3>Graphics Card</h3>
                        <table>
                            <tr>
                                <td style="width:10%"><input type="checkbox" id="integrated" name="graphics1"
                                        value="integrated">
                                </td>
                                <td><label for="integrated">Integrated Graphics Card</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="g2gb" name="graphics2" value="g2gb"></td>
                                <td><label for="g2gb">2 GB</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="g4gb" name="graphics3" value="g4gb"></td>
                                <td><label for="g4gb">4 GB</label></td>
                            </tr>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary submit">Submit</button>
            </div>
        </div>
        </form>
        <div class="favorites" id="favorites">
            {% if prog %}
            {% for laptop in prog %}
            <a href="{% url 'laptopView' laptop.id %}">
                <div id="fav1" class="favourites" id="fav1">
                    <img src="{{ laptop.img1.url }}" alt="none">
                    <h4>{{laptop.brand}}</h4>
                    <p>For {{laptop.typ}}</p>
                    <p>{{laptop.model}}</p>
                    <p>Rs. {{laptop.price}}</p>
                </div>
            </a>
            {% endfor %}
            {% elif not nofilter %}
                <p>No results found based on selected options.</p>
            {% endif %}
        </div>
    </section>
</body>

<script>
    function openfilter() {
        document.getElementById("filter").style.display = "block";
    }
    function closefilter() {
        document.getElementById("filter").style.display = "none";
    }

</script>
{% endblock content %}
</html>